In [122]:
import sqlalchemy_aster 
from modelFactoryPy import get
import sqlalchemy
import pandas as pd
import os
import ruamel.yaml as yaml
import time
import datetime
from random import randint
from modelFactoryPy import pull

In [2]:
sqlalchemy_aster.registry.register('aster', 'sqlalchemy_aster.jdbc', 'AsterDialect_jdbc')

In [147]:
config

{'aster': {'host': '10.68.162.52:2406',
  'password': 'kpn123',
  'username': 'vecht499'},
 'postgres': {'database': 'postgres',
  'host': 'localhost:5432',
  'password': 'masha2807',
  'username': 'postgres'}}

In [3]:
def getConnection():
    global config
    global engine
    config = yaml.load(open(os.environ['MODELFACTORY']+"\\config.yaml")) ## needs to be changed
    engine = sqlalchemy.create_engine("aster://"+config.get('aster').get('username')+":"+
                                      config.get('aster').get('password')+"@10.68.162.52:2406"+"/beehive")
    return engine

In [125]:
getConnection()

Engine(aster://vecht499:***@10.68.162.52:2406/beehive)

In [12]:
insp = sqlalchemy.inspect(engine)
db_list = insp.get_schema_names()

In [126]:
connection = engine.connect()
a = connection.execute("select * from public.titanic_dataset")

In [127]:
b = a.fetchall()
df = pd.DataFrame.from_records(b, columns = a.keys())

In [128]:
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived_int,title,family,train
0,799,Perished,Third,"Ibrahim Shawah, Mr. Yousseff",male,30.000000,0,0,2685,7.2292,,C,0,Mr,0,1
1,237,Perished,Second,"Hold, Mr. Stephen",male,44.000000,1,0,26707,26.0000,,S,0,Mr,1,1
2,331,Survived,Third,"McCoy, Miss. Agnes",female,21.477273,2,0,367226,23.2500,,Q,1,Miss,2,1
3,509,Perished,Third,"Olsen, Mr. Henry Margido",male,28.000000,0,0,C 4001,22.5250,,S,0,Mr,0,1
4,806,Perished,Third,"Johansson, Mr. Karl Johan",male,31.000000,0,0,347063,7.7750,,S,0,Mr,0,1

In [133]:
for a in df.columns:
    print df[a].dtype

int64
object
object
object
object
float64
int64
int64
object
float64
object
object
int64
object
int64
float64

In [137]:
session_id='abc'

In [139]:
a = get.getSummary(df)

In [145]:
a.head()

,mean,sd,median,min,max,n,n_na,variable,session_id
0,446.000000,257.353842,446.000000,1.0000,891.0000,891,0,passengerid,abc
1,29.603610,13.490785,29.328244,0.4200,80.0000,891,0,age,abc
2,0.523008,1.102743,0.000000,0.0000,8.0000,891,0,sibsp,abc
3,0.381594,0.806057,0.000000,0.0000,6.0000,891,0,parch,abc
4,32.689702,49.607298,14.500000,4.0125,512.3292,891,0,fare,abc

In [144]:
a['n']=a['n'].apply(lambda x: int(x))

In [138]:
def storeSummary(summary):
    summary["session_id"] = session_id
    summary.to_sql("model_summary", engine,  schema="model_factory", if_exists='append', index = False)

In [146]:
storeSummary(a)

blabla

In [100]:
getSessionId('titanic_training')

blabla

AttributeError: 'Cursor' object has no attribute 'lastrowid'

In [ ]:
#model_id = "try"
#engine = getConnection()
#getSessionId(model_id)[1].to_sql("run_history", engine,  schema="model_factory", if_exists='append', index = False)